<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Variant 2 find dependencies with annotation -->
    <!-- Annotation Config is used to activate annotations for beans
         Already registered in the application context, no matter if defined by xml or package scan -->
    <!-- multiple impls for injection not possible -->
    <context:annotation-config/>

    <context:component-scan base-package="swt6.spring.basics.ioc.logic.annotationconfig, swt6.spring.basics.ioc.util"/>

    <!--
    <bean id="workLogService" class="swt6.spring.basics.ioc.logic.annotationconfig.WorkLogServiceImpl"/>
    -->
    <!-- Variant 1 find dependencies in XML config file -->
    <!--
    <bean id="fileLogger" class="swt6.spring.basics.ioc.util.FileLogger" destroy-method="close">
        <property name="fileName" value="out.log"/>
    </bean>
    <bean id="consoleLogger" class="swt6.spring.basics.ioc.util.ConsoleLogger">
        <property name="prefix" value="[V2] "/>
    </bean>

    <bean id="workLogService-setter-injection" class="swt6.spring.basics.ioc.logic.xmlconfig.WorkLogServiceImpl" init-method="init">
        <property name="logger" ref="consoleLogger"/>
    </bean>

    <bean id="workLogService-constructor-injection" class="swt6.spring.basics.ioc.logic.xmlconfig.WorkLogServiceImpl" init-method="init">
        <constructor-arg index="0" ref="consoleLogger"/>
    </bean>
    -->
</beans>